.picker-element, .picker-element * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.picker-element {
  display: inline-block;
}

.picker-input {
  display: none;
}

.picker-label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border: none;
  z-index: 1;
}

.picker-label:hover {
  transform: scale(1.4);
  z-index: 3;
}

:checked + .picker-label {
  transform: scale(1.4);
  z-index: 2;
}

.carre {
  border-radius: 0;
}

.picker-label-icon {
  font-size: 30px;
  padding: 5px;
  border-radius: 50%;
  display: inline-block;
  border: none;
  z-index: 1;
}

.picker-label-icon:hover {
  transform: scale(1.4);
  z-index: 3;
  background-color: aqua;
}

:checked + .picker-label-icon {
  transform: scale(1.4);
  z-index: 2;
  color: orange;
}
